#title{
    font-weight: 800px;
    text-align: center;
    background-color: #90D5FF;
    font-family: "Lucida console", monospace;
    border: 4px solid black;
    width: 400px;
    margin:0 auto;

    box-sizing: border-box;
}

h2{
    color: rgb(158, 69, 241);
}

ul .dash{
    text-decoration: line-through;
}

.underline.red{
    color: red;
}

.underline{
    text-decoration: underline;
}

body{
    color: rgb(0, 0, 0);
    background: rgb(243, 234, 199);
    margin-left: 100px;
}

